.pagination {
  margin: 0 0 40px 0;
}

.pagination > li > a {
  max-height: 2.5rem;
}

.pagination > li > a:hover {
  background-color: var(--main-darkcolor);
}

.pg-item-active {
  background-color: var(--main-darkcolor);
  border-radius: 5px;
}

.pg-item {
  background-color: var(--main-color);
  border-radius: 5px;
}

.pagination > li {
  color: var(--color-btns);
}
