.pagination {
  margin: 1.5rem 0 3rem 0;
  display: flex;
  justify-content: center;
}

.pagination > li > a {
  font-size: large;
  padding: 0.8rem 1rem;
  width: 2.6rem;
}

.pagination > li > a:hover {
  background-color: var(--main-darkcolor);
}

.pg-item-active {
  background-color: var(--main-darkcolor);
  border-radius: 5px;
}

.pg-item {
  background-color: var(--main-color);
  border-radius: 5px;
}

.pagination > li {
  color: var(--color-btns);
}
