.list-group {
  list-style: none;
  width: 9em;
  display: flex;
  justify-content: center;
}

.list-group > ul > li {
  background-color: var(--bg-type-btn);
  border-radius: 5px;
  margin-left: 1rem;
}

.list-group > ul > li > a {
  color: var(--color-text);
  font-size: 1.2rem;
  padding: 5px;
}

.list-group > ul > li {
  list-style: none;
}

.dropdown_menu {
  display: none;
}

.dropdown_menu > ul > li > a {
  font-size: 1.2rem;
}

.list-group:hover .dropdown_menu {
  background-color: var(--bg-type-btn);
  border: 2px solid rgb(101, 101, 101);
  display: block;
  position: absolute;
  margin-top: 2px;
  width: 8rem;
  border-radius: 5px;
}

.dropdown_menu > ul > li {
  list-style: none;
}

.dropdown_menu > ul > li > a {
  color: var(--color-text);
}

.dropdown_submenu a {
  font-weight: 1000px;
  font-size: 1.2rem;
}

.submenu > ul > li > a {
  font-size: 1rem;
}

.fas {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.submenu {
  display: none;
}

.dropdown_submenu:hover .submenu {
  display: block;
}

.dropdown_submenu {
  overflow-y: auto;
  max-height: 8rem;
}

.submenu ul li a {
  color: var(--color-text);
}
