article {
  min-height: 30rem;
  background-color: white;
  margin-bottom: 4rem;
  width: 100%;
}

.body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

article > h1 {
  text-align: center;
  margin-bottom: 6rem;
}

.about-img1,
.about-img2 {
  max-height: 80%;
  max-width: 80%;
  margin-left: 3rem;
}

.about-img3 {
  max-height: 80%;
  max-width: 80%;
  margin-left: 3rem;
}

.body > p {
  max-height: 80%;
  max-width: 80%;
  margin-bottom: 5rem;
  padding-left: 3rem;
  font-size: large;
  align-self: center;
}

@media only screen and (max-width: 750px) {
  .body > p {
    font-size: 0.8rem;
  }
  article > h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  article > h1 {
    margin-bottom: 10px;
  }
  .about-img1,
  .about-img2,
  .about-img3,
  .body > p {
    margin: 0;
    padding: 10px;
  }
  .about-img1 {
    order: 1;
  }
  .text1 {
    order: 2;
  }
  .about-img2 {
    order: 3;
  }
  .text2 {
    order: 4;
  }
  .about-img3 {
    order: 5;
  }
  .text3 {
    order: 6;
  }
}
