.navbar {
  height: clamp(50px, 800px, 1000px);
  display: flex;
  align-items: flex-start;
  background: url("../../images/navbar/5514.jpg") no-repeat center;
  background-size: cover;
  box-shadow: none;
  width: 100%;
}

.hamburger-menu {
  width: 100%;
}

.navbar-btns {
  display: flex;
  margin: 2rem 1rem;
  width: 100%;
}

.navbar-btn {
  color: var(--color-text);
  font-weight: bold;
  font-size: large;
  font-family: var(--font-family);
  margin: 0 2rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  /* align-items: center; */
}

.navbar-btn:hover {
  color: var(--color-text);
}

.navbar-btns > a {
  font-size: 1.1rem;
}

.login,
.logout {
  margin-left: auto;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  /* min-height: 5rem; */
}
.hamburger {
  width: 3.5rem;
  height: 0.6rem;
  border-radius: 5px;
  margin: 0.2rem;
  background-color: rgb(102, 102, 102);
  display: none;
}

@media only screen and (max-width: 950px) {
  .navbar-btns > a {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 750px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .navbar-btns {
    margin: 1rem 0;
    flex-direction: column;
    width: 100%;
    max-height: 20rem;
  }

  .navbar-btns > a {
    padding: 1rem 0;
    margin: 0;
    min-height: 3rem;
    font-size: 1rem;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
  }

  .hamburger-menu:hover {
    min-width: 95%;
    min-height: 50%;
    box-shadow: 1px 1px 10px 1px var(--color-shadow);
    border-radius: 5px;
  }

  .hamburger-menu:hover .navbar-btns > a {
    display: flex;
  }

  .navbar-btns > a:hover {
    background-color: rgb(246, 246, 246);
    /* opacity: 0.5; */
  }

  .login,
  .logout {
    margin: 0 32px;
  }
}
