.register-body {
  display: flex;
  min-height: 30rem;
  margin: 5rem 0;
  justify-content: center;
}

.student-form {
  border-top: 6px solid var(--main-color);
  width: 40%;
  border-radius: 5px;
  padding-top: 1rem;
}

.form-group {
  margin-top: 1rem;
}

.register-btn,
.cancel {
  margin-left: 0;
  width: 100%;
}

.register-btn:hover {
  color: var(--color-btns);
}

.cancel:hover {
  background-color: black;
  color: var(--color-btns);
}

.title {
  text-align: center;
  /* margin: 2rem 0; */
  padding: 2rem 0;
}

.register-img {
  width: 40%;
  height: 80%;
  margin-left: 4rem;
}

@media screen and (max-width: 1000px) {
  .register-img {
    display: none;
  }
  .student-form {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 1.4rem;
  }
}
