.footer {
  background: var(--main-color);
  width: 100%;
  max-height: 10rem;
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
}

.body-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 40%; */
}

.body-footer > p,
.body-footer > a {
  color: var(--color-title);
  margin: 0;
  min-height: 2rem;
  max-width: 30rem;
  font-size: 1.1rem;
  text-align: center;
}

.body-footer > a:hover {
  color: rgb(24, 24, 24);
}

.footer > a {
  display: flex;
  align-items: center;
  width: 35%;
  height: 50%;
  justify-self: flex-start;
  margin-left: 1rem;
}

.footer > a > img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.college-data {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  /* justify-self: flex-end; */
}
.college-data > a {
  margin-right: 1rem;
  color: white;
  align-self: flex-end;
  font-size: 1rem;
  text-align: center;
  min-height: 2rem;
  width: 60%;
}

.college-data > a:hover {
  color: black;
}

.up-button,
.college-data {
  margin: 2rem;
}

.small-screen-text {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .body-footer > p,
  .body-footer > a {
    font-size: 0.9rem;
    /* text-align: center; */
  }
  .college-data > a {
    /* text-align: center; */
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 650px) {
  .big-size-text {
    display: none;
  }
  .small-screen-text {
    display: flex;
  }
  .body-footer > p,
  .body-footer > a {
    font-size: 1rem;
    /* justify-self: center; */
    vertical-align: middle;
  }
  .college-data > a {
    /* text-align: center; */
    font-size: 0.9rem;
  }
}
