@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #00a2a5;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #3c4955;
  --color-title: whitesmoke;
  --color-btns: whitesmoke;
  --bg-post: whitesmoke;
  --bg-type-btn: white;
  /* --main-color: blueviolet;
  --main-darkcolor: rgb(92, 0, 179); */
  --main-color: rgb(9, 178, 194);
  --main-darkcolor: rgb(6, 145, 157);
  /* --main-color: rgb(182, 76, 0);
  --main-darkcolor: rgb(130, 56, 3); */
  --color-shadow: rgba(0, 0, 0, 0.2);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--main-color);
}

::selection {
  color: white;
  background: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
