.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  box-shadow: 1px 1px 10px 1px var(--color-shadow);
  border-radius: 5px;
  margin: 2rem auto;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title > p {
  margin: 30px;
  color: var(--color-title);
  font-size: 2.5vw;
  min-width: 10rem;
}

.form-inline {
  margin-right: 1rem;
}

.posts-section {
  width: 95%;
  align-self: center;
  margin-bottom: 3rem;
}

.type-btn {
  display: flex;
}

.posts-body {
  display: flex;
  margin-top: 4rem;
  width: 100%;
}

.grid-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
  width: 60%;
  grid-auto-rows: max-content;
}

.post {
  border-radius: 5px;
  background: white;
  box-shadow: 1px 1px 5px 1px var(--color-shadow);
  color: var(--color-btns);
  border-bottom: 10px solid var(--main-color);
  /* width: 100%; */
  max-width: 100rem;
  height: auto;
}

.post:hover {
  border-bottom: 10px solid var(--main-darkcolor);
}

.post > div {
  max-width: 100%;
}

.post > p {
  width: 100%;
}
.post > ul > a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
}

.post > ul > a > h1 {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 8em;
  min-height: 3.5rem;
  white-space: nowrap;
  cursor: pointer;
  color: var(--color-text);
}

.post > ul > p {
  color: var(--color-text);
}

.post > ul > div > p {
  color: var(--color-text);
  margin: 10px;
}
.post > ul > div {
  display: flex;
  /* justify-content: space-between; */
}

.type {
  text-align: center;
}

.time,
.date {
  max-width: 10rem;
  margin: 0;
  font-weight: bold;
}

.date {
  align-self: flex-end;
}

.post-edit-btns > a {
  max-width: 50%;
}

.post-edit-btns {
  display: flex;
  /* justify-content: flex-end; */
}

.post-edit-btns > a {
  /* max-width: 100%; */
  background-color: var(--main-color);
}

.post-edit-btn,
.post-delete-btn {
  max-height: 5rem;
  border-radius: 5px;
  width: 50%;
  background-color: var(--main-color);
  color: white;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
}
.post-edit-btn:hover {
  background-color: var(--main-darkcolor);
  color: var(--color-btns);
}

.post-delete-btn:hover {
  background-color: red;
  color: var(--color-btns);
}

.posts-img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  /* height: 100%;
  max-width: 100%;
  display: block;
  margin: auto; */
}

.img-container {
  width: 40%;
  margin-left: 5rem;
}

@media only screen and (max-width: 1100px) {
  .grid-posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    grid-auto-rows: max-content;
  }
  .img-container {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: grid;
    min-height: 9rem;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
    place-items: center;
    /* padding: 1rem; */
  }
  .header-title {
    grid-row: 1;
  }

  .header-title > p {
    font-size: 2rem;
    margin: 0px;
  }
  .form-inline {
    grid-row: 2;
    width: 40%;
    place-content: center;
    margin: 0;
  }
  .form-control {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 350px) {
  .header-title > p {
    font-size: 1.2rem;
  }
  .grid-posts {
    width: 100%;
  }
  .post-edit-btns {
    display: flex;
    flex-direction: column;
  }

  #post-edit-btn,
  #post-delete-btn {
    margin: 0;
    width: 50%;
    /* margin: 0 0 0.5rem 0.5rem; */
    background-color: red;
  }
}
